/* Eliminamos las horas de conexión y fecha al inicio del foro */
.rlogininfo {
    display: none !important;
}

/* Ocultar "Ver mensajes desde la última visita" */
a[href="/search?search_id=newposts"] {
    display: none !important;
}

/* Ocultar "Ver mensajes sin respuesta" */
a[href="/search?search_id=unanswered"] {
    display: none !important;
}

/* Ocultar "Marcar todos los foros como leídos" */
a[accesskey="m"] {
    display: none !important;
}
