/* Ocultar "Ver mensajes desde la última visita" */
ul.linklist > li:has(a[href="/search?search_id=newposts"]) {
    display: none !important;
}

/* Ocultar "Ver mensajes sin respuesta" */
ul.linklist > li:has(a[href="/search?search_id=unanswered"]) {
    display: none !important;
}

/* Ocultar "Marcar todos los foros como leídos" */
ul.linklist > li.rightside {
    display: none !important;
}
